## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests

import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Pisco,PE,67.01,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
1,2,Mataura,NZ,56.25,scattered clouds,-46.1927,168.8643,Ellie's Villa
2,3,Hithadhoo,MV,82.22,clear sky,-0.6000,73.0833,Scoop Guest House
3,5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,Hotel Karysmã
4,6,Saint George,US,64.99,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
...,...,...,...,...,...,...,...,...
473,697,Dzaoudzi,YT,78.69,clear sky,-12.7887,45.2699,Le Rocher
474,698,El Alto,PE,71.55,few clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
475,699,Changji,CN,72.39,clear sky,44.0167,87.3167,Lvye Holiday Resort
476,702,Lima,PE,72.90,scattered clouds,-12.0432,-77.0282,Hotel Kamana
477,703,Piranshahr,IR,52.30,overcast clouds,36.7010,45.1413,مسافر خانه سعدی

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
# Add a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Cabedelo")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Cabedelo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Nortelandia")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Sao Jose Do Belmonte")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Itupiranga")]

vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,Hotel Karysmã

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,120,Cabedelo,BR,75.87,scattered clouds,-6.9811,-34.8339,Hotel Pigalle
1,5,Nortelandia,BR,76.42,scattered clouds,-14.4547,-56.8028,Hotel Karysmã
2,165,Sao Jose Do Belmonte,BR,72.37,overcast clouds,-7.8614,-38.7597,Pousada Pedra do Reino
3,143,Itupiranga,BR,73.38,overcast clouds,-5.1347,-49.3267,Hotel Panorama

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure 
fig

Figure(layout=FigureLayout(height='420px'))